*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,
body{
  color:bisque;
  background-color: #fafafc;
  font-family: lato , sans-serif;
  margin-top: 40px;
}
.aplicaion-Metas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Metas-lista-principal{
  width: 800px;
  min-height: 400px;
  background-color: rgb(20, 19, 18);
  padding: 25px;
  margin: 10px;
  justify-content:center;
   
}
.Metas-lista-principal h1{
   display: grid;
   place-items: center;
}